<html>
  <head>
    <style type="text/css">
      body {
        background: DarkGreen;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to Docker Container running in Azure AKS Cluster!</h4>
	  <br>
      <h4>Deployed Containers Automation using Azure DevOps Pipeline!!</h4>
	  <br>
	  <h4>********** Prod Environemnt**********</h4>
    </div>
  </body>
</html>
